*{
    font-family: Tahoma, Geneva, sans-serif;
}

.product_table{
    padding: 20px;
    width:100%;
}

.container{

margin:20px;
height: 30%;
width: 20%;
text-align: center;
border: solid #000;
border-width: 3px;
float:left;
 
}

body{
  padding:20px;
}

p{
    font-size:25px;
}

.tip{
    font-size:18px;
}

.navig_btn{
    float:right;
    margin-top: 40px;
    width: 10%;
    font-weight: bold;
}


.dynamicbox{
    width: 280px;
}

.dyninput{
  width: 230px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 200px;
  position:relative;
  }

  label{
    margin-right: 5px;
    font-size:20px;
  }